{extend name="common/index"}
{block name="title"}购物车 - {/block}
{block name="css"}

{/block}
{block name="content"}
    <div class="weui-shopcart-topbar">
        <div class="weui-cells weui-margin-0">
            <div class="weui-right" onclick="showCartEdiorTool()">编辑</div>
            <img src="__i__/mshop/cart.svg" alt="" width="28"> 购物车
        </div>
    </div>
<form  name="shop-cart_form">

    {volist name="list" id="vo"}
    <div class="weui-cells">
    <div class="weui-cell weui-cells_checkbox">
        <input type="hidden" name="{$vo.id}[price]" value="{$vo.price}">
        <input type="hidden" name="{$vo.id}[spec]" value="{$vo.spec_id}">
        <input type="hidden" name="{$vo.id}[goods_id]" value="{$vo.goods_id}">
        <label class="weui-check__label" for="s{$vo.id}">
            <input type="checkbox" class="weui-check" value="{$vo.id}" name="{$vo.id}[id]" id="s{$vo.id}" checked="checked">
            <i class="weui-icon-checked" onclick="selectGoods()"></i>
        </label>
        <div class="weui-cell__bd">
            <div class="weui-panel weui-panel_access weui-panel_shop-cart">
                <div class="weui-panel__bd">
                    <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                        <div class="weui-media-box__hd">
                            <img class="weui-media-box__thumb" src="{$vo.thumb|exploThumbFirst}" alt="">
                        </div>
                        <div class="weui-media-box__bd">
                            <h4 class="weui-media-box__title">{$vo.subject}</h4>
                            <p class="weui-media-box__desc"><span class="weui-text-red">￥{$vo.price}</span> 规格：{$vo.name}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="weui-widget-cart-num">
        <div class="weui-controls controls-left" data-widget-num="{target:'#num-{$vo.id}',act:'less'}">-</div>
        <div class="weui-controls-input">
            <input type="text" class="weui-input" id="num-{$vo.id}" name="{$vo.id}[num]" value="{$vo.num}">
        </div>
        <div class="weui-controls controls-right" data-widget-num="{target:'#num-{$vo.id}',act:'add'}">+</div>
    </div>
    </div>
    {/volist}

</form>
<div class="weui-shopcart-bar weui-cells">
    <div class="weui-flex">
        <div class="weui-flex__item"></div>
        <div class="weui-flex__item"></div>
        <div class="weui-flex__item">
            <div class="weui-btn weui-btn_warn weui-radius-0">删除</div>
        </div>
    </div>
</div>
{/block}
{block name="footer"}
<div class="weui-buy-bar weui-cells">
    <div class="weui-flex">
        <div class="weui-flex__item weui-buy-bar_count">
            合计：<span class="weui-text-red" id="total-fee">￥{$fee}</span>
        </div>
        <div class="weui-flex__item">

        </div>
        <div class="weui-flex__item">
            <div class="weui-btn weui-btn_primary" onclick="toPay()">立即结算</div>
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script type="text/javascript">
    var defaultFee = "{$fee}"; //初始购物车列表价格
    setTotalFee(defaultFee);
    function showCartEdiorTool(){
        $('.weui-shopcart-bar').toggle();
    }
    /**
     * 结算
     * */
    function toPay(){
        var formDataSerialize = $('[name="shop-cart_form"]').serialize();
        $.ajax({
            url: "{:url('pay/create_many_order')}",
            type: 'Post',
            data : formDataSerialize,
            success:function(res){
                if(res.code == 200){
                    window.location.href ='/mshop/pay/index';
                }else {
                    showAlert(res.code,res.msg);
                }
            },
            error:function(){
                showAlert(500,'内部服务器错误，请联系客服');
            }
        });
    }
    /**
     * 商品选择
     * */
    function selectGoods(){
       setTimeout("showTotalFee()",100);
    }

    /**
     * 计算金额价格
     */
    function showTotalFee() {
        var formDataSerialize = $('[name="shop-cart_form"]').serialize();

        $.get("{:url('pay/calator_cart')}",formDataSerialize,function(res){
            if(res){
                setTotalFee(res);
            }else {
                setTotalFee(0)
            }
        })
    }
    /**
     * 设置价格总计
     * @param fe
     */
    function setTotalFee(fe){
        document.getElementById('total-fee').innerHTML='￥'+fe;
    }
    /**
     * 数量加减
     */
    $(document).on('click','[data-widget-num]',function(){
        var json = $(this).data('widget-num'),
        object = json_to_obj(json),
        _idNum = $(object.target),
        num = _idNum.val();
        if(object.act ==='add'){
            _idNum.val(Number(num)+1);
        }else {
            if(num > 1){
                _idNum.val(Number(num)-1);
            }
        }
        setTimeout("showTotalFee()",100);
    })
</script>
{/block}